*{
padding: 0%;
margin: 0%;
box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://live.staticflickr.com/65535/49235307772_007a4a7123_b.jpg');
  background-size: cover;
  background-position: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: rgba(32, 131, 163, 0.8); /* Color de fondo transparente */
  border-radius: 5%;
  align-items: center;
  font-size: 14px; /* Tamaño de la fuente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para mejorar la apariencia */
  width: 350px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los elementos del contenedor */
  width: 100%;
  
  
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2083A3;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #2083A3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #e7eaee;
}

.links-container {
  margin-top: 15px;
}

.links-container a {
  color: #eef1f3;
  text-decoration: none;
  font-size: 14px;
  margin-right: 15px;
}

.links-container a:hover {
  text-decoration: underline;
}
